### DAY 2

## key words

#python are care sensitive

In [2]:
False

False

In [3]:
False = 20 # key words lai as a variabe se garnu mildaina

SyntaxError: cannot assign to False (845106555.py, line 1)

In [4]:
# capital and small are different and than  it is case sencitive

In [5]:
global = 20

SyntaxError: invalid syntax (1365290719.py, line 1)

In [6]:
#this is to mention that the key wordd are the reserved wors

In [7]:
$num=20

SyntaxError: invalid syntax (408631317.py, line 1)

In [8]:
first_number = 45

In [9]:
fist-number # it is is invalid

NameError: name 'fist' is not defined

In [11]:
a@=0#it is invalid

NameError: name 'a' is not defined

In [12]:
@krishnadev = 45 #sit is invalaid

SyntaxError: invalid syntax (2263596991.py, line 1)

In [13]:
 #identifiers are the combinations of the letters  and

In [14]:
 1=40 # it is invalid

SyntaxError: cannot assign to literal (3751016385.py, line 1)

In [16]:
num1= 30 # it is   valid

In [18]:
variable =30 
print(" the value of the variable is ",variable )

 the value of the variable is  30

In [20]:
variable =30 
print(" the value of the variable is {}".format(variable) ) #irt is mainly used in update of the query in Text pree processing

 the value of the variable is 30

In [21]:
variable =30 
print(" the value of the variable is {} .This is".format(variable) )

 the value of the variable is 30 .This is

In [22]:
variable =30 
print(" the value of the variable is {} .This is".format(variable) ) # this is maily used in  the formatt e e]fdjjmefs4

 the value of the variable is 30 .This is

In [24]:
variable = 20 
Variable = 4000  # it shows the case sensitiive ot the data in the following

## how can we change the  variable in the program

In [25]:
num1 = 88

In [26]:
num1

88

In [27]:
num1=45 # update the value of the variable

In [34]:
num1 # the value will be the latest updated # overiding

45

markdown implementation

 ## algebra

In [30]:
x =30 
x

30

In [33]:
 y = x + 494949

In [35]:
y

494979

In [37]:
first =30 
print ("fist numbe is {}".format(first))

fist numbe is 30

In [43]:
a,b,c= 3 , 5 , 33+4j

In [40]:
a

3

In [41]:
b

5

In [45]:
c # it's in the small bracket  so it is the represntation and it is  the value

(33+4j)

In [62]:
num1 = 78 
num2 = 60 
# the swapping of the numbers ,
# the k is assignmed for the new variable to assign the   value int variable 
k = num1 # k is the new type of  variable that assign the value of the variable 
num1=num2 
num2=num1

In [63]:
print(" The swapping of the  number is {}".format(num1))
# the swapping of the value is num1 is

 The swapping of the  number is 60

In [64]:
print(" The swapping of the  number is {}".format(num2))
# the swapping of the value is

 The swapping of the  number is 60

In [65]:
## the easiest answer is here !!!

In [66]:
num1 = 78 
num2 = 60

In [67]:
num1,num2=num2,num1
# this is the easiest logic

In [68]:
print(" The swapping of the  number is {}".format(num1))
# the swapping of the value is num1 is

 The swapping of the  number is 60

In [69]:
print(" The swapping of the  number is {}".format(num2))
# the swapping of the value is

 The swapping of the  number is 78

In [70]:
hence , we can  conclude tha  the it has many variable

SyntaxError: invalid syntax (2156270483.py, line 1)

In [71]:
##  dynamic language . oop , interpreted language python

 # what is python ???  #### it above

In [73]:
x,y,z = 55,45.6,5+7j

In [74]:
x

55

In [75]:
y

45.6

In [76]:
z

(5+7j)

 ### to see the type 
 type(x)

In [77]:
type(x)

int

In [78]:
type(y)

float

In [79]:
type(z)

complex

In [81]:
isinstance(x,int )# to check the answer whetter it is integer of not ??

True

### type checking validation

In [82]:
isinstance(x,float )

False

In [83]:
isinstance(y,int )

False

In [85]:
isinstance(z,complex ) # it is in green color so  its key words and z is the assigned variable

True

In [86]:
#### about the string

In [87]:
text=" krishnadev is the data scientists"

In [88]:
type(text)

str

In [90]:
isinstance(text,str) # checking wheter it is true or not that it is string or not

True

In [93]:
3***4 ## python  donot recognize it

SyntaxError: invalid syntax (917284036.py, line 1)

In [94]:
#  because it is syntax error

In [95]:
 ### what is data type checking is the here valid