In [ ]:
# sql

CRUID 
create 
read 
update 
Insert 
Delete

In [25]:
# import squlite3
# con=squlite3.connect("users.db")

In [24]:
import sqlite3 # py's inbuilt db

In [31]:
con=sqlite3.connect("class.db")

In [32]:
con.cursor()

In [33]:
cur=con.cursor()

In [34]:
query='''
create table class1
(
rollno int,
name varchar(50)
)
'''

In [35]:
con.execute(query)

In [36]:
con.commit()

## insert statement in SQL

In [37]:
insert_query='''
insert into class1
(rollno,name) values
(1,'krishna'),
(2,'dev0'),
(3,'adhikari')

'''

In [38]:
con.execute(insert_query)

In [39]:
con.commit()

In [41]:
# select statement in SQL 
# select*from table_name

In [47]:
read_query='select * from {}'.format('class1')

In [48]:
read_query

'select * from class1'

In [49]:
con.execute(read_query).fetchall()

[(1, 'krishna'), (2, 'dev0'), (3, 'adhikari')]

In [60]:
q='''
select * from calss1 where rollno=2

'''
con.execute(q).fetchall()

OperationalError: no such table: calss1

# upadate in sql

In [56]:
up_query='''
update class
set name = "dev0"
where
rollno=2

'''

In [57]:
cur.execute(up_query)

OperationalError: no such table: class

In [58]:
con.commit()

In [59]:
cur.execute('select * from class').fetchall()

OperationalError: no such table: class

 # executeMany

In [66]:
data=[
    (4,'krishnadev'),
    (5,'sapana')
]

In [67]:
con.executemany('Insert Into class(rollno,name)values(?,?),data)

SyntaxError: EOL while scanning string literal (1650385196.py, line 1)

#  Delete statement in sql

In [68]:
con.execute('Delete from class wher rollno=2')

OperationalError: near "wher": syntax error

In [69]:
con.execute('select * from class').fetchall()

OperationalError: no such table: class