## Data types

 sometimes all the  variable is named in the  cappital letter because of ita value never chhange  like ( PI = 22/7)

# how to give the  bold
## __ krishnadev adhikari__

In [1]:
port_address =2002
print(type(port_address))

<class 'int'>

 today we will learn about the  to take input from the users

## take input from the users

In [2]:
input(" enter a value")

 enter a value99

'99'

In [3]:
user_input =input(" Enter a number :")

 Enter a number :88

In [4]:
user_input

'88'

### add two number

In [5]:
 num1=input("enter a first number :")
 num2 = input("enter a second number :")
total = num1 +num2 
print( " the sum of {} and {} is {}".format(num1,num2 , total))

enter a first number :77
enter a second number :99
 the sum of 77 and 99 is 7799

In [6]:
user_input = input("enter a number:")
type(user_input)

enter a number:888

str

## typer conversion --> one data type to another data type  of python obkect to other data type

user_input = int(input("enter a number:"))
type(user_input)

In [7]:
 num1=int(input("enter a first number :"))
 num2 = int(input("enter a second number :"))
total = num1 +num2 
print( " the sum of {} and {} is {}".format(num1,num2 , total))

enter a first number :88
enter a second number :88
 the sum of 88 and 88 is 176

  # write a program to check the odd or even

In [8]:
* we will learn  about the expression 
 *   == is the comparison operator

SyntaxError: invalid syntax (1796347526.py, line 1)

In [ ]:
 input_number=int(input("enter a number :"))# colon used to work as the block seperation
    if input_number %2 == 0:
        print("it is even number ")
    else
        print("it is odd number ")

In [ ]:
 input_number=int(input("enter a number :"))# colon used to work as the block seperation
    if input_number %2 == 0:
        print("it is even number ")
    else
        print("it is odd number ")

 Python boolens are true and false

In [ ]:
print(2==2) # equals to 
print(2!=2) #not equal
print(2<2)  #les than
print(2>2)  # greater than
print(2<=2)  # less than or equals
print(2>=2)   #greater than or equal