## Assignment

## WAP to check whether the user given input integer  is positive of negative number . 
__If it is positive print positive else print Negative__

In [5]:
 num1=int(input("enter a first number :"))
#  num2 = int(input("enter a second number :"))
if num1>=0:
    print("The number is positive ")
else:
    print("the number is negative ")

enter a first number :0
The number is positive

 Note -->
     *Here , we have used the type conversion , int 
    *and input is taken from user by input

## Assignment operator

In [6]:
  a,*b,c = 3,4,5,6,7,7,88,99,567

In [7]:
a

3

In [8]:
b

[4, 5, 6, 7, 7, 88, 99]

In [9]:
c

567

In [11]:
 a,b,*c = 3,4,5,6,7,7,88,99,567

In [12]:
a

3

In [13]:
b

4

In [14]:
c

[5, 6, 7, 7, 88, 99, 567]

In [15]:
 *a,b,c = 3,4,5,6,7,7,88,99,567

In [16]:
a

[3, 4, 5, 6, 7, 7, 88]

In [17]:
b

99

In [18]:
c

567

In [19]:
 a,*b,*c = 3,4,5,6,7,7,88,99,567

SyntaxError: two starred expressions in assignment (3658956012.py, line 1)

 * we cannot give two starred in the expression of the assignment operator