## python string

In [1]:
txt1 ="hi"
txt2 ='hi'

In [2]:
txt1 == txt2

True

In [3]:
txt1 ="hi"
txt2 ='hi....'

In [4]:
txt1 == txt2

False

In [6]:
assert text1 == text2 # " asset" key word is used to show the error if it is true than python code will rune

NameError: name 'text1' is not defined

In [7]:
txt =" krishnadev 
asikari 
danuar "

SyntaxError: EOL while scanning string literal (4239288103.py, line 1)

In [11]:
txt = """

 hello krishna
  this is 
  krishnadev 
  adhikar
 
"""

In [12]:
txt

'\n\n hello krishna\n  this is \n  krishnadev \n  adhikar\n \n'

In [14]:
txt1 =''' krishnadev 
karish a
kakkakka
 adhikari 
 '''

In [16]:
txt1

' krishnadev \nkarish a\nkakkakka\n adhikari \n '

string  in multiple line code code  can be written in the 
 multiple line as above 
    when it is written in the  
    TRIPLE  quotation

In [ ]:
 a = " hello world "