#### question0

 ## string  manipuation technique  : extract fruits from txt

In [101]:
txt = " i like  orange apple banana and kiwi "

In [102]:
txt = " i like  orange apple banana and kiwi "
#fruits = ['orange ','apple','bananana','kiwi']|

In [103]:
 txt = txt.split(" ")
txt

['', 'i', 'like', '', 'orange', 'apple', 'banana', 'and', 'kiwi', '']

In [104]:
fruits1 =txt[4:7]

In [105]:
fruits2 = txt[8:9]

In [106]:
fruits =fruits1 + fruits2 # concatenation of the two strings

In [107]:
print(" The fruits from the text are :",fruits)

 The fruits from the text are : ['orange', 'apple', 'banana', 'kiwi']

### alternative

In [1]:
txt = " i like  orange apple banana and kiwi "

In [2]:
txt

' i like  orange apple banana and kiwi '

In [3]:
txt=txt.lower()

In [5]:
txt=txt.replace("i like",'')
txt=txt.replace(".","")
txt=txt.replace("and","")
fruits=txt.split()

    for index in range(len(fruits)):
        name = fruits[index]
        
        if name =='':
            continue
            print(" this is after continue")
        print(name)

IndentationError: unexpected indent (4000701066.py, line 6)

#### question1

  suppose we have two strings
  
  string1 = "NEPALINDIACHINA"
  string2 = "indiachinanepal"
  
  
  suppose i shifted sting1 by five position right(circular ), i will get sting2.
  this phenomenon is called rotation of string . This means string2 is the rotation string of string1

In [108]:
  string1 = "NEPALINDIACHINA"

In [109]:
  string2 = 'indiachinanepal'

In [110]:
k1 =string1[0:5]
k1

'NEPAL'

In [111]:
k2 =string1[5:]
k2

'INDIACHINA'

In [112]:
k3=k2+k1 # concatenation of the strings 
k3

'INDIACHINANEPAL'

In [113]:
print("the output is :",k3)

the output is : INDIACHINANEPAL

In [114]:
string11=k3.lower() # converting string into the lower case 
string11

'indiachinanepal'

In [115]:
string1=string11 # assigning the string11 to asting 1

In [116]:
string1==string2 # equating the strings

True

 ###### since, the string1 is equal to string2. Hence , its is called rotation of string.
 ###### which means  string2 is the rotation string of string1.

In [7]:
sr= "I Me You"
def shift_right(sr):
    L=sr.split()
    new_list=L[-1]

    new_list= new_list.append(1,L[:0])
    return (new_list)

print(shift_right(sr)
#print (shift_reverse(sr))

SyntaxError: unexpected EOF while parsing (2840976349.py, line 10)

In [8]:
def shift_str(s):
    arr = s.split()
    first = arr.pop(0)
    arr.append(first)
    return " ".join(arr)

In [9]:
shift_str("xxx ccc lklklk") >> 'ccc lklklk xxx'

TypeError: unsupported operand type(s) for >>: 'str' and 'str'

In [11]:
# Python3 code to demonstrate working of
# Right and Left Shift characters in String
# Using String multiplication + string slicing

# initializing string
test_str = 'NepalIndiaChina'

# printing original string
print("The original string is : " ,test_str)

# initializing right rot
r_rot = 8

# initializing left rot
#l_rot = 3

# Right and Left Shift characters in String
# Using String multiplication + string slicing
res = (test_str * 3)[len(test_str) + r_rot - l_rot :
		2 * len(test_str) +r_rot - l_rot]

# printing result
print("The string after rotation is : ",str(res))

The original string is :  NepalIndiaChina
The string after rotation is :  IndiaChinaNepal