## list

 list is represented in [] bracket

list are one  the 4 built in data types

In [18]:
list=["krishna ","dev","adhikari"]

In [19]:
nums=[9,2,45,0,11]

In [24]:
nums

[9, 2, 45, 0, 11]

In [25]:
len(nums)

5

In [20]:
start = 0
stop = len(nums)
step = 1

In [27]:
for index in range(start,stop,step):
#     print(index)
    letter=nums[index]
    print(" the index is {} amd  letter is {}".format(index,letter))

 the index is 0 amd  letter is 9
 the index is 1 amd  letter is 2
 the index is 2 amd  letter is 45
 the index is 3 amd  letter is 0
 the index is 4 amd  letter is 11

 alternative for loop when index is not required

In [98]:
nums=[9,2,45,0,11]
total =0

In [102]:
for number in nums:
    #print(number)
    total = total + number
print(total)

134

In [100]:
average = total/len(nums)

In [101]:
average

13.4

 negative indexing is the pheonomenon of  the indexing from last which start from end

# negative indexing in python list

In [63]:
fruits =['apple','pinapple','banana','orange','mango']

In [65]:
fruits[3]

'orange'

In [66]:
last_index=len(fruits)-1

In [71]:
# fruits(last_index)

In [72]:
last_index

4

In [73]:
fruits[-1]

'mango'

  ## membership operator ( "in" and  "not in" )

 to check the number whichis not in list

In [77]:
class1 =['ram ','shyam ','harie']

In [78]:
'krishna'in class1

False

In [79]:
'krishna' not in class1

True

 ### mutable

#### list is mutable

In [80]:
class1 =['ram ','shyam ','harie']

In [81]:
class1[2]

'harie'

In [82]:
class1[2]="Hari"

In [83]:
class1

['ram ', 'shyam ', 'Hari']

In [ ]:
#### hence ist is mutable

In [85]:
fruits =["apple ","mango","orange","mango","orange"]
fruits[1:3]=["ram","hari"]

In [86]:
print(fruits)

['apple ', 'ram', 'hari', 'mango', 'orange']

In [87]:
fruits

['apple ', 'ram', 'hari', 'mango', 'orange']

In [89]:
fruits[0]

'apple '

In [90]:
fruits[0][:3]

'app'

 mutable and immutable